.AirBud_Status {
  color: white;
  background-color: #ef4444;
}

.headset_Status {
  color: #df5f09;
  background-color: white;
  border: 2px solid #df5f09;
}

.bag_Status {
  color: white;
  background-color: #ef4444;
}

.Camera_Status {
  color: #52cc72;
  background-color: white;
  border: 2px solid #52cc72;
}

.sneaker_Status {
  color: white;
  background-color: rgb(2, 2, 253);
}
.heading_1 {
  display: inline;
  margin-bottom: 0;
}
