@import "tailwindcss";

.ReactFlagsSelect-module_selectBtn__19wW7 {
  border: 1px solid rgba(18, 81, 216, 0.805) !important;
  border-radius: 2rem !important;
  min-width: 60px;
  padding: 6px;
}

#category-select {
  background-color: rgb(9, 78, 226);
  color: white;
}
option {
  background-color: rgb(8, 133, 187);
}

@media (max-width: 400px) {
  .ReactFlagsSelect-module_label__27pw9 {
    display: none;
  }
}
